<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Curso</title>

    
</head>
<body>

    <form action="#" th:action="@{/curso/atualizarCurso}" th:object="${curso}" method="post">
        <p>Nome do curso: <input type="text" th:field="*{descricao}" placeholder="Insira a descrição do curso" /></p>
        <input type="text" th:field="*{id}" readonly=true th:value = "${curso.getId()}" hidden=true/>
        <p><input type="submit" value="Adicionar" /></p>
    </form>
    
</body>
</html>